.container {
	display: flex;
	justify-content: center;
	flex-flow: wrap;
	margin: 20px;
	column-gap: 10px;
	align-items: center;
}

#currencySelect{
	font-weight: bold;
	width: auto;
	background-color: #eac46b;
	height: 50px;
	border-radius: 10px;
	color: black;	
}

.converter-input{
	height: 50px;
	border: 1px solid grey;
}

.converter-result{
	font-size: 30px;
	font-weight: bold;
}